DATABASE_URL="postgres://seu-usuario:sua-senha@localhost:5432/seu-banco"

KAFKA_BROKER="localhost:9092"

PORT=3001

OTEL_SERVICE_NAME="sua-aplicacao"
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT="http://localhost:4318/v1/traces"
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT="http://localhost:4318/v1/metrics"

LOKI_HOST="http://localhost:3100"

NODE_ENV=development

LOG_LEVEL=info
